.banner {
	color:white;
	padding: 150px auto;
	background-image:linear-gradient(-225deg,rgba(50,5,20,0.8) 0%,rgba(250,250,250,0.2) 50%),url(../../images/background.jpeg);
	height:320px;
}

.banner h1{
	font-size:80px;
	font-family:Inria Sans;
}

.banner h2{
 font-size: 30px;
 font-weight:lighter;
 opacity:0.8;
 margin-bottom:70px;
}
