.btn-black{
	background-color:black;
	padding:20px 25px;
	margin-top:20px;
	border-radius:4px;
	color:white;
	font-weight:bold;
	font-family: Inconsolata;
	margin-block-end:1em;
	margin-block-end:1em;
}